<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>详细介绍</title>
</head>
<body>
<div style="width: 100%">
    <h2>工程概况</h2>
    <h3>1、工程地址</h3>
    <p>武汉地铁七号线</p>
    <h3>2、工程形式</h3>
    <p>监测地铁线路外部环境如图2.1所示，为地铁某站台实际情况。</p>
    <p style="position:relative;left: 100px">
        <img src="./images/subwayStation.png"  />
    </p>
    <p style="position:relative;left: 155px">图2.1 工程位置及周边环境</p>
    <br/>


    <p>在地铁隧道内部铺设分布式光栅阵列，分别沿道轨与洞壁铺设，如图2.2所示。
        通过采集列车行驶时，与轨道相互作用产生的振动数据，对数据进行实时监测与分析，并存储计算结果，生成轨道分析报表。
    </p>
    <p style="position:relative;left: 100px">
        <img src="./images/tunnel.png"  />
    </p>
    <p style="position:relative;left: 170px">图2.2 光栅铺设图</p>

    <h3>3、工程目标</h3>
    <p>
        通过对仪表初始化操作将初始状态归一化。
        通过仪表评估，将对应的数据进行相应计算与评估，评估所采集数据的有效性。
        同时，对列车行驶进行实时跟踪与定位，并计算实时速度，与综合监控相互对照，保障列车的安全运行。
    </p>
    
</div>

</body>
</html>