<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>实时异常</title>
    <link rel="stylesheet" href="./layui/css/layui.css"  media="all">
    <link rel="stylesheet" href="./css/externalInvasionTable.css"  >
</head>
<body>
<form>
<div style="padding: 10px; background-color: #E7EAF3;">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12" style="padding: 4px;">
            <div class="layui-card" style="background-color: #F1F3F8">
                <div class="layui-card-header" style="margin-left: 44%;font-size: 20px">外部入侵实时预警</div>
                <div class="layui-card-body">
                    <img src="./images/exterLine.png" style="margin-left: -5px">
                    <div style="margin-bottom: 10px;margin-top: -5px;">
                        <u style="margin-left: 1%; font-size: 16px";>野芷湖站</u>
                        <u style="margin-left: 35%; font-size: 16px">板桥站</u>
                        <u style="margin-left: 50%; font-size: 16px">湖工站</u>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md12" style="padding: 4px;">
            <div class="layui-card" style="background-color: #F1F3F8">
                <div class="layui-card-header" >
                    <i>&nbsp;&nbsp;区域状态统计：</i><img src="./images/extendIoc.png" style="margin-left: 15%">
                </div>
            </div>
        </div>
        <div class="layui-col-md12" style="padding: 4px;">
            <div class="layui-card" style="background-color: #F1F3F8">
                <div class="layui-card-body" style="padding: 5px 6px;">
                    <div class="layui-card-header"><i>报警实时处理：</i></div>
                    <table class="tabledata" style="width: 100%;margin-top: 5px">
                        <thead>
                        <tr>
                            <th style="width: 150px">时间</th>
                            <th style="width: 90px">入侵类型</th>
                            <th style="width: 90px">测区</th>
                            <th style="width: 90px">块编号</th>
                            <th style="width: 200px">位置</th>
                            <th style="width: 90px">预警级别</th>
                            <th style="width: 90px">已处理</th>
                            <th style="width: 80px">处理人</th>
                            <th style="width: 150px">处理时间</th>
                            <th style="width: 150px">备注</th>
                            <th style="width: 150px">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="externalEvent:${externalEvents}">
                            <td th:text="${externalEvent.time}"th:classappend="${externalEvent.isDealed=='是'}? 'font_black': 'font_red'"></td>
                            <td th:text="${externalEvent.invasionType}" th:classappend="${externalEvent.isDealed=='是'}? 'font_black': 'font_red'"></td>
                            <td th:text="${externalEvent.passNum}"th:classappend="${externalEvent.isDealed=='是'}? 'font_black': 'font_red'"></td>
                            <td th:text="${externalEvent.blockNum}"th:classappend="${externalEvent.isDealed=='是'}? 'font_black': 'font_red'"></td>
                            <td th:text="${externalEvent.position}"th:classappend="${externalEvent.isDealed=='是'}? 'font_black': 'font_red'"></td>
                            <td th:text="${externalEvent.externalClass}"th:classappend="${externalEvent.isDealed=='是'}? 'font_black': 'font_red'"></td>
                            <td th:text="${externalEvent.isDealed}"th:classappend="${externalEvent.isDealed=='是'}? 'font_black': 'font_red'"></td>
                            <td th:text="${externalEvent.dealMan}"th:classappend="${externalEvent.isDealed=='是'}? 'font_black': 'font_red'"></td>
                            <td th:text="${externalEvent.dealTime}"th:classappend="${externalEvent.isDealed=='是'}? 'font_black': 'font_red'"></td>
                            <td th:text="${externalEvent.remarks}"th:classappend="${externalEvent.isDealed=='是'}? 'font_black': 'font_red'"></td>
                            <td>
                                <button th:classappend="${externalEvent.isDealed=='是'}? 'button_gray': (${externalEvent.time==''}? 'button_gray': '')" type="button" class="layui-btn layui-btn-sm layui-btn-normal" style="height: 26px"><i class="layui-icon"></i> 处理</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div id="page">
                        第&nbsp;<i th:text="${currentPage+1}"></i>&nbsp;页，
                        共&nbsp;<i th:text="${totalPages}"></i>&nbsp;页，
                        每页&nbsp;<i th:text="${limitPage}"></i>&nbsp;条数据，
                        共&nbsp;<i th:text="${totalCount}"></i>&nbsp;条数据&nbsp;&nbsp;&nbsp;

                        <a th:href="@{/externalInvasion(page=0,totalPage=${totalPages})}">首页</a>&nbsp;
                        <a th:href="@{/externalInvasion(page=${currentPage-1},totalPage=${totalPages})}">上一页</a>&nbsp;
                        <a th:href="@{/externalInvasion(page=${currentPage+1},totalPage=${totalPages})}">下一页</a>&nbsp;
                        <a th:href="@{/externalInvasion(page=${totalPages-1},totalPage=${totalPages})}">末页</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



</form>
<script type="text/javascript" src="./layui/layui.js"></script>

</body>
</html>
