<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <meta name="keywords" content="Flat Dark Web Login Form Responsive Templates, Iphone Widget Template, Smartphone login forms,Login form, Widget Template, Responsive Templates, a Ipad 404 Templates, Flat Responsive Templates" />
    <link href="./css/login.css" rel='stylesheet' type='text/css' />
</head>
<body>
<!--SIGN UP-->
<h1>登录</h1>
<div class="login-form">
    <div class="close"> </div>
    <div class="head-info">
        <label class="lbl-1"> </label>
        <label class="lbl-2"> </label>
        <label class="lbl-3"> </label>
    </div>
    <div class="clear"> </div>
    <div class="avtar">
        <img src="./images/avtar.png" />
    </div>
    <form action="/login" method="post">
        <input type="text" class="text" name="username" value="mrchen"  onfocus="this.value = '';" >
<!--        onblur="if (this.value == '') {this.value = 'mrchen';}"-->
        <div class="key">
            <input type="password" name="password" value="123" onfocus="this.value = '';">
        </div>
        <div class="signin">
            <input type="submit" value="Login" >
        </div>
        <p style="color: red" th:text="${msg}"></p>
    </form>


</div>
<a href="" class="forgetPW" ><u>忘记密码</u></a>
<a href="register" class="register" ><u>注册</u></a>

</body>
</html>