<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>总体概览</title>
</head>
<body>
<div style="width: 100%">
    <div style="float: left"><img src="./images/map.png" /></div>
    <div style="position:absolute;right:30px;top: 120px;">
        <p style="font-size: 18px">
    系统介绍：<br/>
    本系统为武汉地铁七号线列车轨道结构安全<br/>监测系统，功能共分为7个模块。<br/>
    1、仪表初始化模块<br/>
    2、原始数据管理模块<br/>
    3、列车行车监测模块<br/>
    4、减震分析模块<br/>
    5、入侵监测模块<br/>
    6、系统管理模块<br/>
    7、帮助<br/>
        </p>
    </div>
</div>
</body>
</html>